table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f0f0f0;
  border-bottom: 2px solid #000;
}

.no {
  width: 50px;
}

.uraian {
  width: 200px;
}

.volume, .satuan {
  width: 100px;
}

.gabung-atas {
  border-top: 0;
}

.sama-dengan {
  width: 10px;
}

.gabung-kanankiri {
  border-left: 0;
  border-right: 0;
}

.meter {
  width:25px;
}
  
